<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autometer</title>
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/areaturma.css">
    <link rel="stylesheet" href="/style/infoturmas.css">
    <link rel="stylesheet" href="/style/conta.css">
    <link rel="stylesheet" href="/style/status.css">
    <link rel="stylesheet" href="/style/avaliacao.css">
    <link rel="stylesheet" href="/style/gerencimentoEscolar.css">
    <link rel="stylesheet" href="/style/registro.css">
    <link rel="stylesheet" href="/style/areadeacesso.css">
    <link rel="stylesheet" href="/style/criarTurma.css">
    <link rel="stylesheet" href="/style/deletarUser.css">
    <link rel="stylesheet" href="/style/adicionarTurma.css">
    <link rel="stylesheet" href="/style/deletarTurma.css">
    <link rel="stylesheet" href="/style/atualizarUser.css">
    <link rel="stylesheet" href="/style/atualizarTurma.css">
    <link rel="stylesheet" href="/style/error.css">
    <link rel="icon" href="/medias/images/Logotipo.svg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />  
    </head>
  <body>
    {{{body}}}
  </body>
</html>