.contaMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
}

.menu-lateral {
  width: 20%;
  background: #1b1a1a;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 3%;
}

#p-voltar {
  justify-content: end;
}

.informacoes {
  width: 100%;
  height: 50vw;
  text-align: center;
}

.menu-lateral-itens {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40%;
  margin-top: 20%;
  margin-bottom: 100%;
}

.menu-lateral > a{
  color: #F21D2F;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3vw;
  cursor: pointer;
  border-radius: 1vw;
  width: 70%;
  margin: 0 auto;
  text-decoration: none;
}

.menu-lateral > a:hover{
  background-color: rgba(0, 0, 0, 0.15);
}

.menu-lateral-itens > a {
  font-size: 1.5vw;
  margin-top: 45%;
  text-decoration: none;
  color: white;
}

.menu-lateral-itens2{
  margin-top: 22vw;
}

.menu-lateral-itens > a:hover{
  text-decoration: underline;
}

.menu-lateral-itens2 > a{
  font-size: 1.2vw;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.menu-lateral-itens2>a:hover{
  text-decoration: underline;
}



#p-color {
  color: #F21D2F;
}

.menu-lateral-itens > h2 {
  font-size: 1.8vw;
}

.img-center {
  text-align: center;
  margin: 0 auto;
  margin-top: 2.34375vw;
  width: 20%;
}

.img-center > img {
  width: 100%;
}

.box-container-conta {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.8vw;
}

.informacoes > p {
  margin-top: 1.5625vw;
  font-size: 1.875vw;
  margin-bottom: 3%;
}

.container-conta {
  width: 90%;
  border: 0.1171875vw solid red;
  color: white;
  margin: 0 auto;
  font-size: 1.25vw;
  border-radius: 1vw;
}

#p-conta,
#p1-conta {
  color: #989898;
}

#p-conta {
  margin-top: 2.34375vw;
}

.footer-conta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 7.8125vw;
  font-size: 1.640625vw;
}

.statusTable2{
  font-size: 1.3vw;
}

.informacoes > h2{
  font-size: 2vw;
}

.informacoes > h3{
  font-size: 1.5vw;
}


@media screen and (max-width:450px) {

  

  .menu-lateral{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: absolute;

  }

  .menu-lateral-itens{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 3%;
    font-size: 15px;
    width: 400px;
    margin-left: 4%;
   
    
  }

  .informacoes{
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 10% ;
    position: relative;
    width: 90%;
    height: 450px;
  }


  .menu-lateral-itens2{
    display: none;
  }
  .container-conta{
    font-size: 12px;
    height: 200px;
    

  }


  footer{
    width: 100%;
    height: 20%;
    flex-direction: column;
    position: absolute;
    display: flex;
    

  }



  .footer-conta{
    
    font-size:15px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }




}