#p-sala {
  font-size: 2vw;
}

.cards-infoturmas {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 5vw;
}

.card-infoturmas {
    text-align: center;
    font-size: 1vw;
    width: 22%;
}

.card-infoturmas > img{
  width: 11.4vw;
  height: 15vw;
}

.card-infoturmas > p {
    font-size: 1.5vw;
    color: #F21D2F;
}

.card-infoturmas > a {
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}
.card-infoturmas > a:hover {
    text-decoration: underline;
    color: #F21D2F;
}
  