.login{
  background-image: url("/medias/images/Fundo_login.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.logo_login {
  margin: 0 auto;
}

.loginLogo {
  margin: 0 auto;
  width: 20%;
}

.logo_login img {
  width: 18.984375vw;
}

.card_login {
  width: 68.125vw;
  height: 49.53125vw;
  display: flex;
  flex-direction: row;
  background-color: black;
  margin: 0 auto;
  margin-top: 4vw;
  border-radius: 0.78125vw;
}

.man_img {
  width: 60%;
}

.man_img > img {
  margin-left: 3.125vw;
  width: 34.21875vw;
  margin-top: 7.03125vw;
}

.forms_login {
  width: 40%;
  background-color: #f2f2f2;
  border-top-right-radius: 0.78125vw;
  border-top-left-radius: 3.90625vw;
  border-bottom-right-radius: 1.5625vw;
}

.forms_login > p {
  padding-left: 2.3vw;
  margin-top: 3.125vw;
  font-size: 2vw;
  font-weight: 400;
}

.form-user {
  display: flex;
  flex-direction: column;
  margin-top: 9vw;
}

.form-user > label {
  font-size: 1.6vw;
  margin-left: 2.7vw;
  font-weight: 300;
}

.form-user2 {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.form-user2 > label {
  font-size: 1.6vw;
  margin-left: 2.7vw;
  font-weight: 300;
}

.form-control {
  background-color: rgba(90, 88, 88, 0.466);
  border-radius: 1vw;
  border: 0.15625vw solid #000;
  width: 80%;
  margin: 0 auto;
  font-size: 1.25vw;
}

.botao {
  padding-left: 25%;
}

.button-login {
  margin-top: 1.5625vw;
  width: 12.8125vw;
  height: 2.578125vw;
  background-color: #561C24;
  color: white;
  border-radius: 0.78125vw;
  font-size: 1.5vw;
}

.button-login:hover {
  background-color: #F21D2F;
  cursor: pointer;
}

.login > span{
  padding-top: 5%;
  margin-top: 2vw;
}

/* mobile aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

@media (max-width: 600px) {

  .man_img img{
    width: 40%;
  }

  .loginLogo {
    width: 60% !important;
    margin-bottom: 15vh;
    }

  .logo_login img{
    /* width: 40vw; */
    width: 100%;
  }
    

  .card_login {
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    background-color: none;
    background: none;
  }

  .man_img {
    display: none; /* Oculta a imagem no layout mobile */
  }

  .forms_login {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    margin-bottom: 25vh;
  }

  .forms_login > p {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    
  }

  .form-user,
  .form-user2 {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-user > label,
  .form-user2 > label {
    font-size: 16px;
    padding-left: 0;
  }

  .form-control {
    width: calc(100% - 20px);
    margin: 10px auto;
    font-size: 16px;
  }

  .botao {
    padding: 1px;
    margin-top: 20px;
    text-align: center;
  }

  .button-login {
    width: 50%;
    height: 35px;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 20px;
  }
}


  