<header>
  <div class="cabeçalho-areaturma">

    <div class="logoHome-areaturma">
      <img src="medias/images/Logo.svg" alt="" />
    </div>

    <ul>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Sobre</a></li>
    </ul>

    <div class="accountBtn-areaturma">
      <img src="medias/images/signInIcon.svg" alt="" />
    </div>

  </div>

</header>