
<header>
    <div class="cabeçalho-areaturma">

        <div class="logoHome-areaturma">
            <img src="medias/images/Logo.svg" alt="" />
        </div>

        <div class="cabecalhoOp">
            <ul>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href=""><img src="medias/images/signInIcon.svg" alt="" /></a></li>
            </ul>
        </div>

    </div>
</header>

<main class="contaMain">

    <div class="menu-lateral">

        <div class="menu-lateral-itens">
            <h2>Status</h2>
            <p>Elogios</p>
            <p>Ocorrências</p>
        </div>

        <div class="menu-lateral-itens2">
            <a id="p-voltar" href="#">VOLTAR</a>
        </div>

    </div>

    <div class="informacoes">

        <div class="img-center">
            <img src="medias/images/cunamata.svg" alt="" />
        </div>

        <h1 class="informacoesText">PONTUAÇÃO</h1>
        <p id="userPoints" class="informacoesText">Pontos: 20 pontos</p>

        <div class="points">
            <button id="userPointsAdd">+</button>
            <input type="number" id="userPointsModifier">
            <button id="userPointsRemove">-</button>
        </div>

        <div class="container-conta" style="border: none;">

            <div class="avaliacaoContainer">

                <div class="avaliacaoTable">
                    <h1>Ocorrência</h1>

                    <div class="ocorrenciaBox">
                        <div class="configuracaoContainer">
                            <div class="configuracaoBox">
                                <p>Gravidade: </p>
                                <select name="gravidade">
                                    <option value="Não Grave">Não Grave</option>
                                    <option value="Pouco Grave">Pouco Grave</option>
                                    <option value="Grave">Grave</option>
                                    <option value="Muito Grave">Muito Grave</option>
                                </select>
                            </div>
                            <div class="configuracaoBox">
                                <p>Tipo: </p>
                                <select name="tipo">
                                    <option value="Atraso">Atraso</option>
                                    <option value="Mal comportamento">Mal comportamento</option>
                                    <option value="Violência">Violência</option>
                                    <option value="Não realizou a tarefa">Não realizou a atividade</option>
                                    <option value="Entrega tarefas atrasadas com frequência">Entrega atividades atrasadas com frequência</option>
                                    <option value="Falta com frequência">Falta com frequência</option>
                                    <option value="Desrespeito com as regras do ambiente">Desrespeito com as regras do ambiente</option>
                                    <option value="Depradação do ambiente">Depradação do ambiente</option>
                                    <option value="Falta de respeito">Falta de respeito</option>
                                </select>
                            </div>
                        </div>

                        <div class="descricaoBox">
                            <p>Descrição: </p>
                            <input type="text" placeholder="Escreva um comentário...">
                        </div>

                        <div class="ocorrenciaSend">
                            <button>Enviar</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="container-conta" style="border: none;">

            <div class="avaliacaoContainer">

                <div class="avaliacaoTable">
                    <h1>Ocorrência</h1>

                    <div class="ocorrenciaBox">
                        <div class="configuracaoContainer">
                            <div class="configuracaoBox">
                                <p>Gravidade: </p>
                                <select name="gravidade">
                                    <option value="Não Grave">Não Grave</option>
                                    <option value="Pouco Grave">Pouco Grave</option>
                                    <option value="Grave">Grave</option>
                                    <option value="Muito Grave">Muito Grave</option>
                                </select>
                            </div>
                            <div class="configuracaoBox">
                                <p>Tipo: </p>
                                <select name="tipo">
                                    <option value="Atraso">Atraso</option>
                                    <option value="Mal comportamento">Mal comportamento</option>
                                    <option value="Violência">Violência</option>
                                    <option value="Não realizou a tarefa">Não realizou a atividade</option>
                                    <option value="Entrega tarefas atrasadas com frequência">Entrega atividades atrasadas com frequência</option>
                                    <option value="Falta com frequência">Falta com frequência</option>
                                    <option value="Desrespeito com as regras do ambiente">Desrespeito com as regras do ambiente</option>
                                    <option value="Depradação do ambiente">Depradação do ambiente</option>
                                    <option value="Falta de respeito">Falta de respeito</option>
                                </select>
                            </div>
                        </div>

                        <div class="descricaoBox">
                            <p>Descrição: </p>
                            <input type="text" placeholder="Escreva um comentário...">
                        </div>

                        <div class="ocorrenciaSend">
                            <button>Enviar</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>

</main>

<footer class="quarta-sessao">

    <div class="footer-conta">
        <div class="img-footer">
            <img src="medias/images/Logo.svg" alt="" />
        </div>

        <p>@2024 direitos autorais de autometer</p>
        <p>voltar para o inicio ^</p>
    </div>

</footer>