<header>
  <div class="cabeçalho-areaturma">

    <div class="logoHome-areaturma">
      <a href="/"><img src="/medias/images/Logo.svg" alt="" /></a>
    </div>

    <div class="cabecalhoOp">
      <ul>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/conta/:id"><img src="/medias/images/signInIcon.svg" alt="" /></a></li>
      </ul>
    </div>

  </div>
</header>

<main class="contaMain">

  <div class="menu-lateral">
  
    <div class="menu-lateral-itens">
      <h2>Minha Conta</h2>
      <a href="#">Informações</a>
    </div>
    
    <a href="/sairConta">Sair da Conta</a>

    <div class="menu-lateral-itens2">
      <a id="p-voltar" href="/areadeacesso">VOLTAR</a>
    </div>
    
  </div>

  <div class="informacoes">

    <div class="img-center">
      <img src={{imagem}} alt="" />
    </div>

    <p>Sobre você</p>

    <div class="container-conta">

      <div class="box-container-conta">

        <div class="colum-1">
          <p id="p1-conta">Nome Completo</p>
          <p>{{nomeCompleto}}</p>

          <p id="p-conta">Email</p>
          <p>{{email}}</p>

          <p id="p-conta">Nível de Acesso</p>
          <p>{{nivelDeAcesso}}</p>
        </div>

        <div class="colum-2">
          <p id="p1-conta">Criado por</p>
          <p>Teste</p>

          <p id="p-conta">Criado em</p>
          <p>03/05/2024</p>

        </div>
      </div>

    </div>

  </div>

</main>

<footer class="quarta-sessao">

  <div class="footer-conta">
    <div class="img-footer">
      <img src="/medias/images/Logo.svg" alt="" />
    </div>

    <p>@2024 direitos autorais de autometer</p>
    <p>voltar para o inicio ^</p>
  </div>

</footer>