<header>
  <div class="cabeçalho-areaturma">

    <div class="logoHome-areaturma">
      <a href="/"><img src="medias/images/Logo.svg" alt="" /></a>
    </div>

    <div class="cabecalhoOp">
      <ul>
        <li><a class="texto" href="#">Contato</a></li>
        <li><a class="texto" href="#">Sobre</a></li>
        <li><a href="/conta/:id"><img src="/medias/images/signInIcon.svg" alt="" /></a></li>
      </ul>
    </div>

  </div>
</header>

<main class="deletar-usuario">

  <section>

    <div class="info-deletar">
      <p>Detalhes do Usuário</p>
    </div>

    <div class="formDelete">
      <form action="/deleteUsuario" method="post">
        <div class="completo-deletar">
          <div class="descricaoBox-registro">
            <p>Nome Completo : </p>
            <input class="deletarI" type="text" name="nome" placeholder="Escreva seu nome..." />
          </div>

          <div class="descricaoBox-registro">
            <p>Email : </p>
            <input class="deletarI" type="text" name="email" placeholder="Escreva seu email..." />
          </div>
        </div>

        <div class="button-deletar-user">
          <button class="button-adicionar" type="submit">DELETAR</button>
        </div>
      </form>
    </div>

  </section>{{! fechando section deletar-usuario }}

  <section class="info-deletar2">
    <div class="icon-deletar">
      <img src="/medias/images/danger.svg" alt="" />
    </div>

    <div class="atencao">
      <p>ATENÇÃO!</p>
    </div>

    <section class="atencao-info">
      <p>Essa ação não poderá ser desfeita.</p>
    </section>

  </section>

</main>

<div class="retorno">

  <a href="/gerenciamentoEscolar">Voltar</a>

</div>

<footer class="quarta-sessao">

  <div class="footer-conta">
    <div class="img-footer">
      <img src="/medias/images/Logo.svg" alt="" />
    </div>

    <p>@2024 direitos autorais de autometer</p>
    <p>voltar para o inicio ^</p>
  </div>

</footer>