<main class="main-error">
  <section class="card-error">

    <div class="logo-error">
      <img src="/medias/images/Logo.svg" alt="" />
    </div>

    <div class="info-error">
      <p>
        {{Erro}} <br> Tente novamente.
      </p>
    </div>

    <div>

      <a href="/">Voltar</a>

    </div>
  </section>
</main>