<header>
  <div class="cabeçalho">
    <ul>
      <li><a href="#">Parceiros</a></li>
      <li><a href="#">Ranking</a></li>
    </ul>

    <div class="logoHome">
      <img src="medias/images/Logo.svg" alt=""/>
    </div>

    <ul>
      <li><a href="#">O que fazemos?</a></li>
      <li><a href="#">Contato</a></li>
    </ul>

    <div class="menu-mobile">
      <ul>
        <li>
           <a href="">Perfil</a>
           <a href="">Contato</a>
           <a href="">Sair</a>
        </li>
      </ul>
    <div/>

    </div class="hamburger">

      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>

    </div>

  </div>

  <div class="accountBtn">
    <a href="/login"><img src="medias/images/signInIcon.svg" alt="" /></a>
  </div>

</header>

<main>
  <section class="inicio">
    <div class="desc">
      <div class="descText">
        <p id="p1">Organize</p>
        <p id="p2">Avalie</p>
        <p id="p3">Controle.</p>
      </div>
  
      <div class="descButton">
        <a href="#">Área de Acesso</a>
      </div>
    </div>
  
    <div class="inicioImg">
      <img src="medias/images/img_1.svg" alt="" />
    </div>
  </section>
  
  <section class="help">
    <div class="helpTitle">
      <div class="helpName">
  
        <div>
          <p>Precisa de Ajuda?</p>
        </div>
  
        <div>
          <a href="#" style="text-decoration: none;">Entre em contato</a>
        </div>
  
      </div>
    </div>
  </section>
  
  <section class="fazemos">
    <h1>O que fazemos?</h1>
  
    <div class="fazemosContent">
      <div class="fazemosImage">
        <img src="medias/images/fazemosImagem.svg" alt="" />
      </div>
  
      <div class="fazemosDesc">
        <div class="fazemosDescText">
          <img src="medias/images/digital.svg" alt="" />
          <p>O Autometer é um sistema de gerenciamento escolar projetado para
            facilitar o acompanhamento do comportamento e desempenho de
            funcionários e estudantes em uma escola. O sistema permite que os
            usuários registrem reclamações, elogios e avaliações, além de fornecer
            funcionalidades de gerenciamento de turmas e funcionários. O acesso ao
            sistema é controlado por diferentes níveis de permissão, garantindo
            que apenas usuários autorizados possam acessar determinadas
            funcionalidades.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="rank">
    <div class="rankTitle">
      <div class="rankName">
        <h1>Ranking</h1>
        <h3>Senai Cotia</h3>
      </div>
    </div>
  
    <div class="RankingGeral">
      <div class="ranking">
        <div class="rankingTop">
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top1">
                <p>1</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top2">
                <p>2</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top3">
                <p>3</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top4">
                <p>4</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top5">
                <p>5</p>
              </div>
            </div>
          </div>
        </div>
        <div class="rankingTop">
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top6">
                <p>6</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top7">
                <p>7</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top8">
                <p>8</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top9">
                <p>9</p>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="rankPhoto">
              <img src="medias/images/perfiltest.svg" alt="" />
            </div>
            <div class="rankUser">
              <div class="rankUserInfo">
                <h1>NomeDoUsuario</h1>
                <p>000 points</p>
              </div>
              <div class="rankUserPosition" id="top10">
                <p>10</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="schoolInfo">
        <div class="schoolLogo">
          <img src="medias/images/logoSenai.svg" alt="" />
        </div>
        <div class="studentInfo">
          <img src="medias/images/fundo branco.svg" alt="" />
          <h1>Rank Dele</h1>
          <p>#032</p>
        </div>
      </div>
    </div>
  
    <div class="rankVerTudo">
      <a href="#">VER TUDO</a>
    </div>
  
  </section>
  
  <div class="linhaRedDiv">
    <span class="linhaRed"></span>
  </div>
  
  <section class="sistema">
    <h1>Sistema Organizado</h1>
  
    <div class="container">
      <div class="boxContainer">
        <div class="aboutContainer">
          <button><img src="medias/images/infoIcon.svg" alt="" /></button>
        </div>
  
        <div class="boxContainerInfo">
          <div class="photoContainer">
            <img src="medias/images/photoContainerIcon.svg" alt="">
          </div>
  
        <h1>Básico</h1>
  
        <div class="linhaRedDiv">
          <span class="linhaRed"></span>
        </div>
  
        <p>Esse nível é pensado nos alunos e funcionários de cargo baixo.</p>
        </div>
      </div>
  
      <div class="boxContainerText">
        <p>Pensando em um ambiente mais fácil de gerenciar e seguro, nós da AutoMeter, decidimos criar os níveis de acesso, um sistema hierárquico pensado unicamente para as escolas. </p>
      </div>
  
      <div class="boxContainer">
        <div class="aboutContainer">
          <button><img src="medias/images/infoIcon.svg" alt="" /></button>
        </div>
  
        <div class="boxContainerInfo">
          <div class="photoContainer">
            <img src="medias/images/photoContainerIcon2.svg" alt="">
          </div>
  
        <h1>Admnistrativo Total</h1>
  
        <div class="linhaRedDiv">
          <span class="linhaRed"></span>
        </div>
  
        <p>Sendo o nível mais alto, esse nível de acesso é pensado nos diretores escolares.</p>
        </div>
      </div>
    </div>
  
    <div class="container2">
      <div class="boxContainer2">
        <div class="aboutContainer">
          <button><img src="medias/images/infoIcon.svg" alt="" /></button>
        </div>
  
        <div class="boxContainerInfo">
          <div class="photoContainer">
            <img src="medias/images/photoContainerIcon3.svg" alt="">
          </div>
  
        <h1>Pedagógico</h1>
  
        <div class="linhaRedDiv">
          <span class="linhaRed"></span>
        </div>
  
        <p>Esse nível é pensado especificamente nos professores.</p>
        </div>
      </div>
  
      <div class="boxContainer2">
        <div class="aboutContainer">
          <button><img src="medias/images/infoIcon.svg" alt="" /></button>
        </div>
  
        <div class="boxContainerInfo">
          <div class="photoContainer">
            <img src="medias/images/photoContainerIcon4.svg" alt="">
          </div>
  
        <h1>Pedagógico Avançado</h1>
  
        <div class="linhaRedDiv">
          <span class="linhaRed"></span>
        </div>
  
        <p>Esse nível é pensado nos funcionários de cargo superior, como coodernadores.</p>
        </div>
      </div>
    </div>
  </section>
  
  <div class="linhaRedDiv">
    <span class="linhaRed"></span>
  </div>
  
  <section class="parcerias">
    <h1>Parcerias</h1>
  
    <h2>Quem já nos utiliza?</h2>
  
    <div class="parceriasContainer">
  
      <div class="parceriasPhoto">
        <img src="medias/images/utiliza.svg" alt="">
      </div>
  
      <div class="parceriasEscolas slider">
        <div class="escolaInfoContainer slide-track">
  
          <div class="escolaInfo slide">
            <div class="escolaPhoto">
              <img src="medias/images/logoSenai.svg" alt="">
            </div>
            <div class="escolaDesc">
              <p>SENAI COTIA</p>
            </div>
          </div>
  
          <div class="escolaInfo slide">
            <div class="escolaPhoto">
              <img src="medias/images/logoSenai.svg" alt="">
            </div>
            <div class="escolaDesc">
              <p>SENAI COTIA 2</p>
            </div>
          </div>
  
          <div class="escolaInfo slide">
            <div class="escolaPhoto">
              <img src="medias/images/logoSenai.svg" alt="">
            </div>
            <div class="escolaDesc">
              <p>SENAI COTIA 3</p>
            </div>
          </div>
  
          <div class="escolaInfo slide">
            <div class="escolaPhoto">
              <img src="medias/images/logoSenai.svg" alt="">
            </div>
            <div class="escolaDesc">
              <p>SENAI COTIA</p>
            </div>
          </div>
  
          <div class="escolaInfo slide">
            <div class="escolaPhoto">
              <img src="medias/images/logoSenai.svg" alt="">
            </div>
            <div class="escolaDesc">
              <p>SENAI COTIA 2</p>
            </div>
          </div>
  
          <div class="escolaInfo slide">
            <div class="escolaPhoto">
              <img src="medias/images/logoSenai.svg" alt="">
            </div>
            <div class="escolaDesc">
              <p>SENAI COTIA 3</p>
            </div>
          </div>
  
        </div>
        <div class="comeceAqui">
          <h3>Comece você também:</h3>
          <a href="#">Começar agora</a>
        </div>
  
      </div>
    </div>
  </section>
</main>

<footer class="quarta-sessao">

  <div class="footer">
    <div class="img-footer">
      <img src="medias/images/Logo.svg" alt="" />
    </div>
    
     <p>@2024 direitos autorais de autometer</p>
     <p>voltar para o inicio ^</p>
  </div>

</footer>