<header>
  <div class="cabeçalho">
    <ul>
      <li><a href="#">Parceiros</a></li>
      <li><a href="#">Ranking</a></li>
    </ul>

    <div class="logoHome">
      <img src="medias/images/Logo.svg" alt="" />
    </div>

    <ul>
      <li><a href="#">O que fazemos?</a></li>
      <li><a href="#">Contato</a></li>
    </ul>

  </div>

  <div class="accountBtn">
    <img src="medias/images/signInIcon.svg" alt="" />
  </div>

</header>

<section class="inicio">
  <div class="desc">
    <div class="descText">
      <p id="p1">Organize</p>
      <p id="p2">Avalie</p>
      <p id="p3">Controle.</p>
    </div>

    <div class="descButton">
      <a href="#">Área de Acesso</a>
    </div>
  </div>

  <div class="inicioImg">
    <img src="medias/images/img_1.svg" alt="" />
  </div>
</section>

<section class="help">
  <div class="helpTitle">
    <div class="helpName">

      <div>
        <p>Precisa de Ajuda?</p>
      </div>

      <div>
        <a href="#" style="text-decoration: none;">Entre em contato</a>
      </div>

    </div>
  </div>
</section>

<section class="fazemos">
  <h1>O que fazemos?</h1>

  <div class="fazemosContent">
    <div class="fazemosImage">
      <img src="medias/images/fazemosImagem.svg" alt="" />
    </div>

    <div class="fazemosDesc">
      <div class="fazemosDescText">
        <img src="medias/images/digital.svg" alt="" />
        <p>O Autometer é um sistema de gerenciamento escolar projetado para
          facilitar o acompanhamento do comportamento e desempenho de
          funcionários e estudantes em uma escola. O sistema permite que os
          usuários registrem reclamações, elogios e avaliações, além de fornecer
          funcionalidades de gerenciamento de turmas e funcionários. O acesso ao
          sistema é controlado por diferentes níveis de permissão, garantindo
          que apenas usuários autorizados possam acessar determinadas
          funcionalidades.</p>
      </div>
    </div>
  </div>
</section>

<section class="rank">
  <div class="rankTitle">
    <div class="rankName">
      <h1>Ranking</h1>
      <h3>Senai Cotia</h3>
    </div>
  </div>

  <div class="ranking">
    <div class="rankingTop">
      <div class="top">
        <div class="rankPhoto">
          <img src="medias/images/perfiltest.svg" alt="" />
        </div>
        <div class="rankUser">
          <div class="rankUserInfo">
              <h1>NomeDoUsuario</h1>
              <p>000 points</p>
          </div>
          <div class="rankUserPosition">
            <p>1</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>