<header>
  <div class="cabeçalho-areaturma">

    <div class="logoHome-areaturma">
      <a href="/"><img src="medias/images/Logo.svg" alt="" /></a>
    </div>

    <div class="cabecalhoOp">
      <ul>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/conta/:id"><img src="/medias/images/signInIcon.svg" alt="" /></a></li>
      </ul>
    </div>

  </div>
</header>

<main> 

  <section class="area">

    <div class="primeira-sessao">

      <a href="/gerenciamentoEscolar">Voltar</a>

    </div>

    <div class="segunda-sessao">

      <p id="p-1">LISTA DE FUNCIONÁRIOS</p>

    </div>

  </section>

  <section class="cards-infoturmas">
    {{#each listaFuncionarios}}
            <div class="card-infoturmas">
                <img src="{{this.imagem}}" alt="">
                <p>Tipo:</p>
                <p style="color: white;">{{this.tipo}}</p>
                <p>Nome do Funcionário:</p>
                <a href="/status/{{this.id}}">{{this.nome}}</a>
            </div>
    {{/each}}
</section>


</main>

<footer class="quarta-sessao">

  <div class="footer">
    <div class="img-footer">
      <img src="/medias/images/Logo.svg" alt="" />
    </div>

    <p>@2024 direitos autorais de autometer</p>
    <p>voltar para o inicio ^</p>
  </div>

</footer>