<section class="login">

  <div class="logo_login">
    <div class="loginLogo">
      <img src="medias/images/Logo.svg" alt="" />
    </div>

  </div>

  <section class="card_login">

    <div class="man_img">
      <img src="medias/images/Login_backgroud.svg" alt="" />
    </div>

    <div class="forms_login">
      <p>Olá!</p>
      <p>Seja bem vindo</p>

      <form action="/login" method="post"> 

        <div class="form-user">
          <label for="">Usuário</label>
          <input type="text" class="form-control" name="email" placeholder="email" id="email" />
        </div>

        <div class="form-user2">
          <label for="">Senha</label>
          <input type="text" class="form-control" name="senha" id="senha" />
        </div>

        <div class="botao">
          <button class="button-login" type="submit">Logar</button>
        </div>

      </form>
    </div>
  </section>


</section>