  <header>
  <div class="cabeçalho-areaturma">

    <div class="logoHome-areaturma">
      <a href="/"><img src="medias/images/Logo.svg" alt="" /></a>
    </div>

    <div class="cabecalhoOp">
      <ul>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/conta/:id"><img src="/medias/images/signInIcon.svg" alt="" /></a></li>
      </ul>
    </div>

  </div>
</header>

<main class="main-registro">

  <div class="primeira-sessao">

      <a href="/gerenciamentoEscolar">Voltar</a>

    </div>

  <section class="detalhe-registro">

    <div class="detalhe">
      <p>Detalhes de Registro</p>
    </div>

  </section>

  <section class="info-registro">

    <div class="completo">

      <form action="/registro" method="post">
        <div class="descricaoBox-registro">
          <p>*Nome Completo : </p>
          <input type="text" name="nome" id="" />
        </div>
        <div>
          <div class="configuracaoBox-registro">
            <select name="nivelacesso">
              <option value="Nível de acesso">Nível de acesso</option>
              <option value="Acesso Básico">Acesso Básico</option>
              {{#if (gte AcessLevel 3)}}
              <option value="Acesso Pedagógico">Acesso Pedagógico</option>
              {{/if}}
              {{#if (gte AcessLevel 4)}}
              <option value="Acesso Pedagógico Avançado">Acesso Pedagógico Avançado</option>
              {{/if}}              
            </select>
          </div>
        </div>
    </div>

    <div class="registro-email">
      <div class="descricaoBox-registro">
        <p>*Email : </p>
        <input type="text" name="email" />
      </div>
    </div>

    <div class="registro-imagem">
      <div class="descricaoBox-registro">
        <p>*Imagem : </p>
        <input type="text" name="imagem" />
      </div>
    </div>

    <div class="completo">
      <div class="descricaoBox-registro">
        <p>*Senha : </p>
        <input type="text" name="senha" />
      </div>
      <div>
        <div class="configuracaoBox-registro">
          <select name="tipo">
            <option value="Tipo">Tipo</option>
            <option value="Estudante">Estudante</option>
            {{#if (gte AcessLevel 3)}}
            <option value="Professor">Professor</option>
            <option value="Secretaria">Secretaria</option>
            <option value="Limpeza">Limpeza</option>
            <option value="Outro">Outro</option>
            {{/if}}
            {{#equal AcessLevel 4}}
            <option value="Coordenador">Coordenador</option>
            {{/equal}}
          </select>
        </div>
      </div>
    </div>

    <div class="botao-registro">
      <button class="button-adicionar" style="margin-bottom: 5%;" type="submit">Enviar </button>
    </div>

    </form>

  </section>

</main>

<footer class="quarta-sessao">

  <div class="footer-conta">
    <div class="img-footer">
      <img src="medias/images/Logo.svg" alt="" />
    </div>

    <p>@2024 direitos autorais de autometer</p>
    <p>voltar para o inicio ^</p>
  </div>

</footer>