<header>
    <div class="cabeçalho-areaturma">

        <div class="logoHome-areaturma">
            <img src="medias/images/Logo.svg" alt="" />
        </div>

        <div class="cabecalhoOp">
            <ul>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href=""><img src="medias/images/signInIcon.svg" alt="" /></a></li>
            </ul>
        </div>

    </div>
</header>

<main class="contaMain">

    <div class="menu-lateral">

        <div class="menu-lateral-itens">
            <h2>Status</h2>
            <p>Elogios</p>
            <p>Ocorrências</p>
        </div>

        <div class="menu-lateral-itens2">
            <a id="p-voltar" href="#">VOLTAR</a>
        </div>

    </div>

    <div class="informacoes">

        <div class="img-center">
            <img src="medias/images/cunamata.svg" alt="" />
        </div>

        <h1 class="informacoesText">PONTUAÇÃO</h1>
        <p id="userPoints" class="informacoesText">Pontos: 20 pontos</p>

        <div class="points">
            <button id="userPointsAdd">Adicionar</button>
            <input type="number" id="userPointsModifier">
            <button id="userPointsRemove">Remover</button>
        </div>
        

        <p class="informacoesText">Elogios ou Ocorrências</p>

        <div class="container-conta" style="border: none;">

            <div class="box-container-conta statusDisplay">

                <div class="statusTable">

                    <div id="statusConfig">
                        <h1>Configuração</h1>

                        <div class="linhaRedDiv">
                            <span class="linhaRed"></span>
                        </div>

                        <div id="statusConfigItem">
                            <h2>Testando</h2>
                        </div>
                    </div>
                    <div id="statusGravidade">
                        <h1>Gravidade</h1>

                        <div class="linhaRedDiv">
                            <span class="linhaRed"></span>
                        </div>

                        <div id="statusGravidadeItem">
                            <h2>Testando</h2>
                        </div>
                    </div>
                    <div id="statusTipo">
                        <h1>Tipo</h1>

                        <div class="linhaRedDiv">
                            <span class="linhaRed"></span>
                        </div>

                        <div id="statusTipoItem">
                            <h2>Testando</h2>
                        </div>
                    </div>
                    <div id="statusResponsavel">
                        <h1>Responsável</h1>

                        <div class="linhaRedDiv">
                            <span class="linhaRed"></span>
                        </div>
                        <div id="statusResponsavelItem">
                            <h2>Testando</h2>
                        </div>
                    </div>
                    <div id="statusDescricao">
                        <h1>Descrição</h1>

                        <div class="linhaRedDiv">
                            <span class="linhaRed"></span>
                        </div>

                        <div id="statusDescricaoItem">
                            <a href="#">VER</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

<footer class="quarta-sessao">

    <div class="footer-conta">
        <div class="img-footer">
            <img src="medias/images/Logo.svg" alt="" />
        </div>

        <p>@2024 direitos autorais de autometer</p>
        <p>voltar para o inicio ^</p>
    </div>

</footer>